<!DOCTYPE html>
<html>
  <body>
    

  </body>
  <h1><%=@team_name%></h1>
  <br>
  <h2>Team Motto: <%=@team_motto%></h2>
  <br>
  <%@team_members.each.with_index do |hero, index|%>
    <br>
    <h2>Hero Name: <%=@hero_names[index]%></h2>
    <h3>Hero Power: <%=@hero_powers[index]%></h3>
    <h3>Hero Biography: <%=@hero_bios[index]%></h3>
    <%end%>
    <br>
</html>


