<h1>Team: <%= @team_name %></h1>
<h2>Team Motto:<%= @team_motto%></h2>
    <%@team_members.each_with_index do |hero, index|%>
            <h2>Hero <%=index + 1 %>: <%=hero[:name]%></h2>
            <h5>Hero Power: <%=hero[:power]%></h5>
            <h5>Hero Bio: <%=hero[:bio]%></h5>
            <%end%>




